
@font-face {
    font-family: 'hbr';
    src: url('harabara-webfont.woff2') format('woff2'),
         url('harabara-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
	margin : 0;
}

a:hover{
 text-decoration: none;
 color : #123;
}

a{
  color : #123;
}

a:link, a:visited{
  text-decoration: none;
}

.navbar{
	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left : 0;
	background: white;
	z-index: 999;
  transition: all .3s ease;
}

.navbar-content{
  position: relative;
      height: 70px;
}

.navbar-main-active .navbar-bar{
  transform: scaleX(1);
  transition: all .2s ease;
}

.navbar-content:hover .navbar-bar{
  transform: scaleX(1);
  transition: all .2s ease;
}

.navbar-bar{
     position: absolute;
    width: 100%;
    height: 6px;
    left: 0;
    top: -1px;
    background: #35c9ea;
   transform: scaleX(0);
   transition: all .2s ease;
}

.item{
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
}

.header-not-active {
  background: transparent;
  transition: all .3s ease;
}

.header-not-active .navbar-inner{
  box-shadow: 0 0 30px -3px rgba(0,0,0,0);
}

.header-not-active .navbar-inner .navbar-left a , .header-not-active .navbar-inner .navbar-right a{
   color: white;
   transition: all .3s ease;
}

.navbar-inner .navbar-left a{
   transition: all .3s ease;
}

.navbar-inner{
	width: 100%;
	height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 60PX;
    box-shadow: 0 0 30px -3px rgba(0,0,0,.2);
    transition: all .2s ease;
}

.navbar-left{
	display: flex;
	flex-direction: row;
	
}

.navbar-left div{
	display: flex;
	align-items: center;
	padding: 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.navbar-right{
	display: flex;
	flex-direction: row;
	align-items: center;
 
}



.navbar-right div{
	display: flex;
	align-items: center;
	padding: 0 15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.navbar-right div .fa {
	font-size: 20px;
}

.nav-logo{
	position: absolute;
	left : 50%;
	top : 50%;
	transform : translateX(-50%) translateY(-50%);
}



#svg2{
	width: 100px;
	height: auto;
}

/* HEADERRRRRRRRRRRRRRRRRRRRRRRRRRRR */
.header{
	position: relative;
}



.header-text{
  flex-direction: column;
	width: 99%;
	height: 100vh;
	position: absolute;
	top: 0;
	left : 0;
	z-index: 3;
   font-size: 84px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -2px;
    font-weight: 700;

}

.header-text div span:last-child{
	position: relative;
    left: -355px;
    top: -60px;
    animation-name: glitch1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    opacity: 0;
    color: #3ADBFF;
}

.header-text div span:first-child{
	position: relative;
	animation-name: glitch2;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    top : 0px;
    opacity: 1;
     color :#3ADBFF;

}

.header-text div:first-child{
	position: relative;
    left: 177px;
}

@keyframes glitch1 {
    0% 	{top : -60px;}
    5%	{top : 0px;opacity: 1}
    45%	{top : 0px;opacity: 1}
    50% {top : 60px;opacity: 0 }
    60% { top : -60px;opacity: 0;}
    100% { top : -60px;opacity: 0;}
}

@keyframes glitch2 {
    0% 	{top : 0;opacity: 0}
    5%	{top : 60px;opacity: 0}
    45%	{top : -60px;opacity: 0}
    55% {top : 0px;opacity: 1 }
    95% { top : 0px;opacity: 1;}
    100% { top : 60px;opacity: 0;}
}



.header-overlay{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left : 0;
	z-index: 3;
	background: rgba(0,0,0,.4);
}
.arrowDown {
      display: block;
      width: 43px;
      height: 22px;
      background: url("../img/main/downArrow.png") center center no-repeat;
      left: 51.5%;
      margin-left: -22px;
      transform : translateX(-50%);
      bottom: 7%;
      position: absolute;
      background-size: 43px auto;
      padding: 20px;
      z-index: 500;
      cursor: pointer;
      -webkit-transform-origin: 0 50%;
      -ms-transform-origin: 0 50%;
      transform-origin: 0 50%;
      -webkit-animation: arrowAnimation 2s infinite;
      animation: arrowAnimation 2s infinite; }
@keyframes arrowAnimation {
  0% {
    bottom: 7%; }
  40% {
    bottom: 5%; }
  100% {
    bottom: 7%; } }

    .carousel-fade .carousel-inner .item {
      -webkit-transition-property: opacity;
      transition-property: opacity;
    }
    .carousel-fade .carousel-inner .item,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
      opacity: 0;
    }
    .carousel-fade .carousel-inner .active,
    .carousel-fade .carousel-inner .next.left,
    .carousel-fade .carousel-inner .prev.right {
      opacity: 1;
    }
    .carousel-fade .carousel-inner .next,
    .carousel-fade .carousel-inner .prev,
    .carousel-fade .carousel-inner .active.left,
    .carousel-fade .carousel-inner .active.right {
      left: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-control {
      z-index: 4;
    }
    html,
    .carousel,
    .carousel-inner,
    .carousel-inner .item {
    	width: 100%;
		height: 100vh;
      	background-repeat: no-repeat;
   		 background-size: cover;
       font-family: 'Open Sans', sans-serif;
    }
    .item:nth-child(2) {
	     background-image: url('../img/main/header.jpg');
    }
    .item:nth-child(1) {
      background-image: url('../img/main/header-2.jpg');
    }
    .item:nth-child(3) {
      background-image: url('../img/main/header-3.jpg');
    }


  .carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, 00) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .000)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .000) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0000) 0%, rgba(0, 0, 0, 00) 100%);
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .000)), to(rgba(0, 0, 0, 0)));
    background-image: linear-gradient(to right, rgba(0, 0, 0, .000) 0%, rgba(0, 0, 0, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
    background-repeat: repeat-x;
}

.carousel-control {
	font-size: 70px;
    top: 50%;
    bottom: initial;
    transform: translateY(-50%);
}

/*aboutttt*/

.about-wrapper {
    width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 150px 0;
}

.about-text div:first-child{
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 25px;
    color: #737c92;
}

.about-text div:last-child{
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #737c92;
}

.about-text{
    width: 100%;
    max-width: 1130px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    margin : 0 auto;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.about-icon{
  width: 100%;
  height: 450px;
}

.about-wrapper-outer{
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(30,30,30,.1);
    background-color: rgba(250,250,255,1);
    position: relative;
    z-index: 0;
}

.about-icon-wrapper{
  width: 22.6%;
    float: left;
    margin: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-icon-wrapper img{
  width: 75%;
  margin-bottom: 30px;
}

.about-icon-title{
  text-align: center;
    color: #24a0bb;
    font-size: 26px;
    line-height: 35px;
    font-weight: 400;
}

.about-icon-desc{
      text-align: center;
    font-size: 16px;
    margin-top: 25px;
    line-height: 24.6px;
    font-weight: 300;
    color: #111;
}


/*CLASSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS*/

.class{
	width: 100%;
	max-width: 1200px;
	margin: 150px auto;

}

.logo-corner{
  font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction:row;
	position: relative;
	align-items: flex-start;
	font-size: 36px;
	font-weight: 700;
	padding: 3px 0 0 9px;
	background: #35c9ea;
  font-style: italic;
	color: whitesmoke;
  float: left;
  left: 50%;
  transform: translateX(-50%) ;
  box-shadow: 0px 5px 10px rgba(0,0,0,.2);

}

.logo-corner span{
    position: relative;
    top: 2px;
}

#r{
	fill : whitesmoke;
}

#svg3{
	width: 34px;
	height: auto;
  position: relative;
  top: 10px;

}

.class-main{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.class-content{
  width: 75%;
  margin-top: 30px;
 
}

.class-tabs{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
}

.class-menu{
  width: 24%;
  margin-top: 125px;
  padding-left: 35px;
}

.menu-inner{
  width: 100%;
  display : flex;
  flex-direction: row;
  padding: 5px 0;
  position: relative;
  margin: 5px 0;
  cursor: pointer;
}

.menu-inner div:first-child{
  padding-right: 50px;
}

.menu-inner div:last-child{
  font-size: 17px;
  font-weight: 600;
  letter-spacing: -.5px;
}

.menu-inner:hover .menu-bar{
  width: 100%;
  transition:  all .3s ease;
}

.menu-inner:hover{
  color : #35c9ea;
  transition:  all .3s ease;
}

.menu-bar{
  width: 0%;
  height: 2px;
  background-color: #35c9ea;
  position: absolute;
  bottom: 0;
  left : 0;
  transition:  all .3s ease;
}

.class-box{
  position: relative;
}

.c-net .class-box-inner:first-child{
  width: 64%;
}

#panel1.c-net .first-child .class-box{
  background-image: url('../img/class/video.jpg');
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
}

#panel3 .first-child .class-box{
  background-image: url('../img/class/video2.jpg');
}

#panel4 .first-child .class-box{
  background-image: url('../img/class/video3.jpg');
}

#panel5 .first-child .class-box{
  background-image: url('../img/class/video4.jpg');
}




.c-net .first-child div:nth-child(2){
  display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 30px;
    bottom: 95px;
    background: #35c9ea;
    color: white;
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    font-weight: 700;
  
}

.c-net .first-child div:nth-child(3){
     font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    position: absolute;
    left: 30px;
    bottom: 30px;
    max-width: 60%;
}


.c-net .class-box-inner:not(.first-child) .class-box{
  
  width: 100%;
  height: 275px;
  background-size: cover;
  background-position: center center;
}


.projectwrapperrr{
  box-shadow: 0px 0px 10px 1px rgba(30,30,30,0) !important;
  background-color: white !important;
}


#panel1 .class-box-inner:nth-child(4n+3) .class-box{
  background-image: url('../img/class/article.jpg');
}

#panel3 .class-box-inner:nth-child(4n+3) .class-box{
  background-image: url('../img/class/article2.jpg');
}
#panel4 .class-box-inner:nth-child(4n+3) .class-box{
  background-image: url('../img/class/article3.jpg');
}

#panel5 .class-box-inner:nth-child(4n+3) .class-box{
  background-image: url('../img/class/article4.jpg');
}

.c-net .class-box-inner:not(.first-child):nth-child(4n+2) .class-box{
  background-image: url('../img/class/news.jpg');
}

#panel1 .class-box-inner:nth-child(4n+3) .class-box{
  background-image: url('../img/class/article.jpg');
}

.c-net .class-box-inner:not(.first-child):nth-child(4n+4) .class-box{
  background-image: url('../img/class/question.jpg');
}

.c-net .class-box-inner:not(.first-child):nth-child(4n+5) .class-box{
  background-image: url('../img/class/travel.jpg');
}


.c-net .class-box-inner:not(.first-child) .class-box div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #35c9ea;
    color :white;
    width: 130px;
    height: 30px;
    font-size: 14px !important;
    font-weight: 700;
}

.port-content{
  background-size: cover !important;
  background-position: center center !important;
  margin-bottom: 40px !important;
}

.c-net .class-box-inner a{
  width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

.c-net .class-box-inner:not(.first-child) div:nth-child(2){
  font-size: 16px;
  margin-top: 15px;
}

.c-net .class-box-inner .class-box{
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}
.c-net  .class-box-inner:after{
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}

.c-net .class-box-inner{
  height: 400px;
  font-family: 'Open Sans', sans-serif;
}

.c-net .class-box-inner{
  height: 370px;
  overflow: hidden;
}

.class-display{

    flex-wrap: wrap;
    margin: 1% auto;
    max-width: 1170px;
    display: flex;

}

.display-active{
   display: flex !important;
}

.class-box-inner{
    width: 31%;
    height: 450px;
    margin: .6vw;
     position:relative;
     margin-bottom: 30px;
}
  
.button-see-all:hover{
  color: white;
  background: #35c9ea;
  transition: all .2s ease;
   transform: scale(1.025);
}

.button-see-all{
  margin: 75px auto;
    transition: all .2s ease;
    transform: scale(1);
    width: 140px;
    height: 50px;
    border-radius: 7px;
    background: #4ad6f5; 
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 17px;
    box-shadow: 1px 2px 5px rgba(0,0,0,.4);
}

.class-display .class-box{
    background-color: pink;
    width: 100%;
    height: 100%;
    transform: scale(1);
    transition: transform .3s ease;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.class-box-inner:hover .class-box{
    transform: scale(1.025);
    transition: transform .3s ease;
}

.class-box-inner:hover::after{
  opacity: .4;
}


.class-box-inner:after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .2;
    box-shadow: 0 30px 58px -16px rgba(0,0,0,1);
    transition: opacity .3s;
}

.class-tabs-menu{
    cursor: pointer;
    letter-spacing: -.5px;
    width: 32%;
    margin: 5px;
    text-align: center;

}
.class-tabs-menu:hover .bar-tabs{
    transform: translateY(5px) scaleX(1);
    transition: all .3s ease;
}

.tab-active .bar-tabs{
  transform: translateY(5px) scaleX(1);
  transition: all .3s ease;
}

.tab-active .menu-title{
  color : #35c9ea;
  transition: all .3s ease;
}

.tab-active .menu-bar{
  width: 100%;
  transition: all .3s ease;
}

.bar-tabs{
    background-color: #35c9ea;
    width: 100%;
    height: 2px;
    margin-top: 2px;
    transform: translateY(5px) scaleX(0);
    transition: all .3s ease;
}


*{box-sizing: border-box;}

/*#00B3DB

/*projecccccct*/
.project{
  width: 100%;
  max-width: 1200px;
  margin: 100px auto;
  padding: 100px 0;
 
}



.project-wrapper{
    width: 100%;
    box-shadow: 0px 0px 10px 1px rgba(30,30,30,.1);
    background-color: rgba(250,250,255,1);
    position: relative;
    z-index: 0
  
}

.class-box-inner:hover .project-content-wrapper{
  transform: scale(1.025) !important;
  transition: all .3s ease;
}


.class-box-inner .project-content {
  background-size: cover;
  width: 200%;
  height: 200%;
  background-position: center;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
   position: absolute;
  top: -50%;
  left: -50%;
}

.class-box-inner .project-content-wrapper  {
  width: 100%;
  height: 100%;
   position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  transition: all .3s ease;
  overflow: hidden;
}

.project-link{
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top:0;
  left:0;
}

#panel7 .class-box-inner:nth-child(3n+1)  .project-content{
   background-image: url('../img/project/pr-7-3.jpg');
}

#panel7 .class-box-inner:nth-child(3n+1)  .project-img{
  background-image: url('../img/project/pr-7-3.jpg');
}
#panel7 .class-box-inner:nth-child(3n+1)  .project-fund-progg{
  width: 33%;}

#panel7 .class-box-inner:nth-child(3n+2)  .project-content{
   background-image: url('../img/project/pr-7-1.jpg');
}

#panel7 .class-box-inner:nth-child(3n+2)  .project-img{
  background-image: url('../img/project/pr-7-1.jpg');
}
#panel7 .class-box-inner:nth-child(3n+2)   .project-fund-progg{
  width: 70%;}

#panel7 .class-box-inner:nth-child(3n+3)  .project-content{
   background-image: url('../img/project/pr-7-2.jpg');
}

#panel7 .class-box-inner:nth-child(3n+3)  .project-img{
  background-image: url('../img/project/pr-7-2.jpg');
}
#panel7 .class-box-inner:nth-child(3n+3) .project-fund-progg{
  width: 55%;}

.panel10 .class-box-inner:nth-child(3n+2)  .project-content{
   background-image: url('../img/project/pr-7-1.jpg');
}

.panel10 .class-box-inner:nth-child(3n+2)  .project-img{
  background-image: url('../img/project/pr-7-1.jpg');
}
.panel10 .class-box-inner:nth-child(3n+2)   .project-fund-progg{
  width: 70%;}

.panel10 .class-box-inner:nth-child(3n+1)  .project-content{
   background-image: url('../img/project/pr-7-3.jpg');
}

.panel10 .class-box-inner:nth-child(3n+1)  .project-img{
  background-image: url('../img/project/pr-7-3.jpg');
}
.panel10 .class-box-inner:nth-child(3n+1)  .project-fund-progg{
  width: 33%;}

.panel10 .class-box-inner:nth-child(3n+3)  .project-content{
   background-image: url('../img/project/pr-10-3.jpg');
}

.panel10 .class-box-inner:nth-child(3n+3)  .project-img{
  background-image: url('../img/project/pr-10-3.jpg');
}
.panel10 .class-box-inner:nth-child(3n+3)  .project-fund-progg{
  width: 36%;}


.panel11 .class-box-inner:nth-child(3n+2)  .project-content{
   background-image: url('../img/project/pr-11-2.jpg');
}

.panel11 .class-box-inner:nth-child(3n+2)  .project-img{
  background-image: url('../img/project/pr-11-2.jpg');
}
.panel11 .class-box-inner:nth-child(3n+2)  .project-fund-progg{
  width: 53%;}

.panel11 .class-box-inner:nth-child(3n+3)  .project-content{
   background-image: url('../img/project/pr-11-3.jpg');
}

.panel11 .class-box-inner:nth-child(3n+3)  .project-img{
  background-image: url('../img/project/pr-11-3.jpg');
}
.panel11 .class-box-inner:nth-child(3n+3)  .project-fund-progg{
  width: 33%;}

.panel11 .class-box-inner:nth-child(3n+1)  .project-content{
   background-image: url('../img/project/pr-7-2.jpg');
}

.panel11 .class-box-inner:nth-child(3n+1)  .project-img{
  background-image: url('../img/project/pr-7-2.jpg');
}
.panel11 .class-box-inner:nth-child(3n+1) .project-fund-progg{
  width: 55%;}

.panel9 .class-box-inner:nth-child(3n+1)  .project-content{
   background-image: url('../img/project/pr-7-2.jpg');
}

.panel9 .class-box-inner:nth-child(3n+1)  .project-img{
  background-image: url('../img/project/pr-7-2.jpg');
}
.panel9 .class-box-inner:nth-child(3n+1) .project-fund-progg{
  width: 55%;}

.panel9 .class-box-inner:nth-child(3n+2)  .project-content{
   background-image: url('../img/project/pr-11-4.jpg');
}

.panel9 .class-box-inner:nth-child(3n+2)  .project-img{
  background-image: url('../img/project/pr-11-4.jpg');
}
.panel9 .class-box-inner:nth-child(3n+2) .project-fund-progg{
  width: 35%;}

.panel9 .class-box-inner:nth-child(3n+3)  .project-content{
   background-image: url('../img/project/pr-10-4.jpg');
}

.panel9 .class-box-inner:nth-child(3n+3)  .project-img{
  background-image: url('../img/project/pr-10-4.jpg');
}
.panel9 .class-box-inner:nth-child(3n+3) .project-fund-progg{
  width: 47%;}



/*----------------------------*/
.project-text{
  width: 100%;
  height: 100%;
  position: absolute;
  top : 0;
  padding: 13px;
}

.project-text-inner{
  width: 100%;
  height: 83%;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.project-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .3;
}

.project-title{
    margin-top: 10px;
}

.project-title-1{
  font-size: 18px;
  font-weight: 700;
  color: white;
  text-align: center;

}

.project-title-2{
  font-size: 12px;
  font-weight: 400;
  color: white;
  text-align: left;
  margin-top: 5px;
  letter-spacing: .3px;
}

.project-img{
    border: 1px solid #ffffff;
    width: 110px;
    height: 110px;
    border-radius: 4px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
        margin-top: 40px;
}

.project-fund{
  display: flex;
    height: 15%;
    flex-direction: column;
    justify-content: space-around;
}

.project-fund-bar{
  position: relative;
  height: 7px;
  top : -7px;
}

.project-fund-total{
  background-color: whitesmoke;
  width: 100%;
  height: 7px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 69;
  border-radius: 5px;
}

.project-fund-progg{
  background-color: #35c9ea;
  width: 70%;
  height: 7px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 70;
  border-radius: 5px;
}

.project-fund-desc{
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  text-align: center;
  justify-content: space-around;
}

.project-fund-desc >div div:first-child{
  font-weight: 800;
}






/*footeeeeeeeeeeeer*/

.footer{
  width: 100%;
  height: 80vh;
  background-image: url('../img/main/footer.jpg');
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.footer-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  color: white;
}

.footer-content{
    width: 100%;
    height: 40vh;
    position: relative;
   background-color: rgba(250,250,255,1);
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,.4);
    opacity: .95;
}


.footer-content{
  display: flex;
  align-items: center;
  flex-direction:column;
  justify-content: center;
}

.footer-icon{
  display: flex;
  flex-direction: row;
  width: 16vw;
  justify-content: space-between;
  position: relative;
  top: -20px;
}

.icon-wrapper{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #35c9ea;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 2px 5px rgba(0,0,0,.4);
  transform: all .2s ease;
}

.icon-wrapper:hover{
  background-color: #32b8d6;
  transform: all .2s ease;
}

.icon-wrapper i{
  color: white;
  font-size: 28px;
}

.footer-option{
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  width: 23vw;
  justify-content: space-between;
}

.footer-trademark{
  max-width: 1200px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #666;
  position: relative;
  top: 20px;
}
html {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
body{
  font-family: 'Open Sans', sans-serif;
   -webkit-font-smoothing: antialiased;
}

/* halaman project */

.prpage-header{
  
  width: 100%;
  max-width: 1200px;
  position: relative;
  display: flex; 
  flex-direction: row;
  margin : 0 auto;
  padding-top: 100px;
}

.prpage-header-img{
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 58.33333333%;
}

.prpage-header-desc{
    position: relative;
    min-height: 1px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    width: 41.66666667%;
    font-family: 'Open Sans', sans-serif;
}

.prpage-header-img-inner{
  background-image: url('../img/project/pr-7-3.jpg');
  width: 100%;
  height: 470px;
  background-size: cover;
  background-position: center center;

}

.prpage-header-desc-tittle{
  font-size: 28px;
  font-weight: 700;
  text-align: left;
}

.prpage-header-desc-slogan{
  font-size: 15px;
  font-weight: 600;
  text-align: left;
  color: #666;
}

.prpage-header-desc-user{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.prpage-header-desc-user-profpic{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: grey;
  background-image: url('../img/user/ananda.jpg');
  background-position: center top;
  background-size: cover;

}

.prpage-header-desc-user-bio{
  margin-left: 10px;
  
}

.user-name{
  font-size: 16px;
}

.black{
  color: #333 !important;
  top: 0 !important;
}

.black2{
  color: #666 !important;
  top: 0 !important;
}

.user-address{
  font-size: 14px;
  color: #666;
}

.tags{
  margin-top: 20px;
  display: flex;
  flex-direction: 5px;
  flex-direction: row;
}

.fa-tags{
  color: #666;
  font-size: 16px;
}

.prpage-header-share{
  position: absolute;
  bottom: 10px;
  left: 2px;
}

.prpage-header-share div:last-child{
  display: flex;
  flex-direction: row;
}

.tags div{
  font-size: 13px;
  color: #666;
  font-weight: 700;
  margin-left: 5px;
}

.icon-wrapper-project{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border : 2px solid #35c9ea;
  color: #35c9ea;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: all .2s ease;
  font-size: 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: all .3s ease;
}

.icon-wrapper-project:hover{
  background: #35c9ea;
  color: white;
  transition: all .3s ease;
}

.prpage-header-status{
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.prpage-header-status-inner div:first-child{
  font-size: 28px;
  font-weight: 700;
  
}
.prpage-header-status-inner div:last-child{
  font-weight: 600;
  color: #999;
}

.prpage-header-status-inner{
  margin-right: 30px;
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

.button-project{
  margin: 15px 0 0 0;
}

.prpage-header-wrapper{
  width: 100%;
  height: 95vh;
  background: rgba(240,240,240,1);
  position: relative;
  background: whitesmoke;
  box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}

.project-tab-wrapper{
  width: 100%;
  background: #f7f7f9;
  height: 63px;
  margin : 0 auto;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

.project-tab{
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  font-weight: 700;
  margin : 0 auto;
  padding: 0 20px

}

.project-tab-inner{
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.project-tab-inner:hover .navbar-bar{
  transform: scaleX(1);
  transition: all .2s ease;
}

 .project-bar-active{
  transform: scaleX(1);
  transition: all .2s ease;
 }

 .prpage-content{
  padding: 70px 35px 0 30px;
  width: 100%;
  max-width: 1170px;
  margin : 0 auto;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 200px;
 }

 .prpage-content > div:first-child{
   width: 430px;
 }

 .prpage-content > div:last-child{
   width: 730px;
    padding-right: 50px;
    text-align: left;
 }

 h5{
  font-size: 16.7462px;
  font-weight: 400;
  line-height: 27.2126px;
  text-indent: 40px;
 }

 h2{
  margin-bottom: 26px;
 }

  #back-top{
  position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #4ad6f5;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    transition: all .3s ease;
    box-shadow: 1px 2px 5px rgba(0,0,0,.4);
    opacity: 0;
    z-index: 100
 }

 .back-top-invis{
    opacity: 1 !important;
    transition: all .3s ease !important;
 }

 #back-top i{
      transform: rotate(0deg);
      transition: all .3s ease
 }


 #back-top:hover i{
      transform: rotate(360deg);
      transition: all .3s ease
 }

 #back-top:hover{
      background-color: #35c9ea;
      transition: all .3s ease
 }
 .project-footer{
    box-shadow: 0px 0px 10px 1px rgba(30,30,30,.1);
    background-color: rgba(250,250,255,1);
 }

.network-content-people{
  display: flex;
 flex-wrap: wrap;
  margin: 1% auto;
  max-width: 990px;
  width: 100%;
}

.network-content-user{
  width: 31%;
  height: 450px;
  margin: .6vw;
  position: relative;
}

.network-content-user img{
  width: 100%;
}

.network-header{
  width: 100%;
  position: relative;
  height: 90vh;
  overflow: hidden;
}

.network-header .header-overlay{
  height: 90vh;
}

.network-header-inner{
  font-family: 'hbr';
  width: 100%;
  height: 100%;
  background: url('../img/network/header.jpg');
  background-position: center center;
  background-size: cover;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
}

.network-header-text{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left : 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99;
 font-family: 'hbr';
}

.network-header-text > div:first-child{
  color: white;
  font-size: 84px;
  position: relative;
  top: -40px;
}

.network-header-text > div:last-child{
  color: white;
  font-size: 30px;
  position: relative;
  top: 50px;
}

.input-network{
  width: 550px;
  height:50px;
  border-radius: 5px;
}

.input-network-wrapper{
  position: relative;
}

.input-network-wrapper .input-search{
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    font-size: 24px;
    background: #35c9ea;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 5px 5px 0;
    width: 75px;
    cursor: pointer;
   
}

input{
  border-width: 0;
  font-size: 17px;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color : #333;
}

.network-tab{
  width: 100%;
  height: 63px;
  display: flex;
  flex-direction: row;
  max-width: 990px;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 20px;
}

.network-tab-wrapper{
  width: 100%;
  background: rgba(250,250,250,1);
  height: 63px;
  margin : 0 auto;
  box-shadow: 1px 1px 4px rgba(0,0,0,.1);
}

.network-tab-inner {
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-right: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}




.network-tab-inner .navbar-bar{
  top: initial;
  bottom: 0;
}

.not-fixed{
  position: absolute;
}

.network-content{
  flex-wrap: wrap;
  margin: 1% auto;
  max-width: 990px;
  width: 100%;
  margin-top: 50px;
  display: flex;
  margin-bottom: 100px;
}

.network-box-inner {
    width: 30%;
    height: 425px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 1px 5px rgba(0,0,0,.1);
}

.network-box-bg-wrapper{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  overflow: hidden;
}
.network-link{
  width: 100%;
  height: 80%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
}

.network-box-inner:hover .network-user-overlay{
   background-color: rgba(0,0,0,.5);
   transition: all .3s ease;
}

.network-user-overlay{
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s ease;
  background-color: rgba(0,0,0,.3);
  z-index: 4;

}
.ability div{
  margin: 0 2px 0 2px;
}

.ability span{
  cursor: pointer;
}
.ability{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  padding : 20px;
  color: #31b6d4;
  font-size: 14px;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  border: 1px solid #EAEEF0;
  border-top: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

}

.network-box-bg{
  background-size: cover;
  width: 200%;
  height: 200%;
  background-position: center;
  -webkit-filter: blur(30px);
  -moz-filter: blur(30px);
  position: absolute;
  top: -70%;
  left: -50%;
  -webkit-transform: translateZ(0);
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
 
}

.network-box-text{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 5;
  height: 70%;
  text-align: center;
  padding: 20px;

}

.network-box-text .pp{
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 4px solid #ffffff;
}
.network-box-text .nama{
  color: white;
  font-weight: 700;
  font-size: 20px;
  position: relative;
  top: 10px;
}
.fa-envelope{
  font-size: 30px;
  color: white;
  position: relative;
  top: 50px;
}

.network-box-text .status{
  color: white;
  font-weight: 300;
  font-size: 13px;
  position: relative;
  top: 20px;
}

#panel32 .network-box-inner:nth-child(1) .network-box-bg{
       background-image: url('../img/user/headeruser.jpg');
    }

#panel32 .network-box-inner:nth-child(1) .pp{
       background-image: url('../img/user/akbar.jpg');
    }

#panel32 .network-box-inner:nth-child(2) .network-box-bg{
       background-image: url('../img/user/headeruser2.jpg');
  }

  #panel32 .network-box-inner:nth-child(2) .pp{
       background-image: url('../img/user/ananda.jpg');
  }

    #panel32 .network-box-inner:nth-child(3) .network-box-bg{
   background-image: url('../img/user/headeruser3.jpg');
}

#panel32 .network-box-inner:nth-child(3) .pp{
       background-image: url('../img/user/random.jpg');
  }
    #panel32 .network-box-inner:nth-child(4) .network-box-bg{
   background-image: url('../img/user/headeruser4.jpg');
}

#panel32 .network-box-inner:nth-child(4) .pp{
       background-image: url('../img/user/random2.jpg');
  }

      #panel32 .network-box-inner:nth-child(5) .network-box-bg{
   background-image: url('../img/user/headeruser3.jpg');
}

#panel32 .network-box-inner:nth-child(5) .pp{
       background-image: url('../img/user/random3.jpg');
  }

#panel32 .network-box-inner:nth-child(6) .network-box-bg{
   background-image: url('../img/user/headeruser1.jpg');
}

#panel32 .network-box-inner:nth-child(6) .pp{
       background-image: url('../img/user/random4.jpg');
  }

#panel32 .network-box-inner:nth-child(7) .network-box-bg{
   background-image: url('../img/user/headeruser2.jpg');
}

#panel32 .network-box-inner:nth-child(7) .pp{
       background-image: url('../img/user/random5.jpg');
  }

  #panel32 .network-box-inner:nth-child(8) .network-box-bg{
     background-image: url('../img/user/headeruser.jpg');
  }

  #panel32 .network-box-inner:nth-child(8) .pp{
         background-image: url('../img/user/random6.jpg');
    }

.network-tab-inner:hover .navbar-bar{
  transform: scaleX(1);
  transition: all .2s ease;

}

.daerah{
  color: rgba(220,220,220,1) !important;
  top: 6px !important;
  font-style: italic;
  font-weight: 300;
  font-size: 13px;
  position: relative;

}
.network-box-text .status{
  top: 11px !important;
  font-size: 14px;
}

.user-header-wrapper{
  width: 100%;
  height: 440px;
  overflow: hidden;
  position: relative;
}

.user-header-wrapper-wrapper{
  position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    overflow: hidden;
}
.user-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
}
#akbar .user-header{
       background-image: url('../img/user/headeruser.jpg');
       background-size: cover;
       width: 200%;
       height: 200%;
       background-position: center;
       -webkit-filter: blur(10px);
       -moz-filter: blur(10px);
       position: absolute;
       top: -70%;
       left: -50%;
       -webkit-transform: translateZ(0);
       -webkit-backface-visibility: hidden;
       -webkit-perspective: 1000;
    }

.user-header-text{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 5;
}    

#akbar .user-pp{
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
  border: 4px solid #ffffff;
  background-image: url('../img/user/akbar.jpg');
}

.user-header-text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 10px;
}

.user-name{
  font-weight: 700;
  font-size: 24px;
 position: relative;
 color: white;
 position: relative;
top: 10px;
}

.user-address{
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  position: relative;
  color: rgba(220,220,220,1);
  top:7px;
}

.user-status{
  font-weight: 600;
  font-size: 18px;
  position: relative;
  color: white;
  top:15px;
}

.circle{
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  transition: all .3s ease;
  overflow: hidden;
  position: relative;
}

.circle div{
  background: transparent;
  transition: all .3s ease;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
 border-radius: 50%;
  z-index: 7;
}

.fa-envelope:before {
    content: "\f0e0";
    position: relative;
    z-index: 8;
}

.circle:hover div{
  background: black;
  opacity: .4;
   transition: all .3s ease;
}

#akbar .fa-envelope{
  font-size: 20px;
  color: white;
  position: relative;
  top: 50px;
}

.user-content{
  width: 100%;
  max-width: 990px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
   margin-top: 100px;
}

.user-content-left{
  width: 50%;
  padding-right: 50px;
}
.user-content-right{
  width: 50%;
  padding-left: 50px;
}
.contact-me{
  position: relative;
}
.contact-me-wrapper{
  text-align: right;
  position: relative;
}

.contact-me .right-bar{
  background: black;
  width: 3px;
  height: 64px;
  position: absolute;
  top: 56px;
  right: .7%;
}

.work-experience{
  position: relative;
}

.work-experience .right-bar{
  background: black;
    width: 3px;
    height: 124px;
    position: absolute;
    top: 67px;
    right: .7%;
}
.education{
  position: relative;
}
.education .left-bar{
    background: black;
    width: 3px;
    height: 121px;
    position: absolute;
    top: 62px;
    left: .8%;
}

.contact-me-content{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 16px;
    color: #444;
    letter-spacing: .25px;
    margin-top: 8px;
}

.contact-me-wrapper div:first-child{
  margin-right: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

.contact-me-content span{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: block;
  background : black ;
  margin-left: 30px;
}

.work-experience-wrapper{
  text-align: right;
}

.work-experience-content{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: center;
  margin-top: 9px;
}

.work-experience-wrapper > div:first-child{
  margin-right: 40px;
  margin-right: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  margin-top: 50px;
}

.work-experience-content-text  div:first-child{
  font-weight: 700;
  margin: 10px 0;
  color: #333;
}

.work-experience-content-text  div:last-child{
    margin-bottom: 10px;
    color: #555;
    width: 400px;
    text-align: justify;
}

.work-experience-content span{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: block;
  background : black ;
  margin-left: 30px;
  top: -38px;
  position: relative;

}

.software-skill > div:first-child{
    text-align: right;
    margin-right: 40px;
    margin-right: 40px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
    margin-bottom: 18px;
    margin-top: 50px;
}

.user-abbilites > div:first-child{
    text-align: right;
    margin-right: 40px;
    margin-right: 40px;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    color: #333;
    margin-bottom: 18px;
    margin-top: 50px;
}

.software-skill-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 8px;
}

.user-abbilites-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 40px;
    margin-bottom: 8px;
}

.user-abbilites-content >  div:first-child{
   color: #555;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.software-skill-content >  div:first-child{
   color: #555;
    margin-right: 40px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.user-abbilites-progress{
  background: rgba(230,230,230,1);
  height : 9px;
  width: 60%;
  position: relative;
  border-radius: 3px;
}

.user-abbilites-progress div{
  background: #35c9ea;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px ;
}

.user-abbilites .user-abbilites-content:nth-child(2) .user-abbilites-progress div{
   width: 90%;
}
.user-abbilites .user-abbilites-content:nth-child(3) .user-abbilites-progress div{
   width: 80%;
}

.user-progress{
  background: rgba(230,230,230,1);
  height : 9px;
  width: 60%;
  position: relative;
  border-radius: 3px;
}

.software-skill .software-skill-content:nth-child(4) .user-progress div{
   width: 70%;
}

.software-skill .software-skill-content:nth-child(5) .user-progress div{
   width: 80%;
}

.software-skill .software-skill-content:nth-child(2) .user-progress div{
   width: 90%;
}

.software-skill .software-skill-content:nth-child(3) .user-progress div{
   width: 95%;
}

.user-progress div{
  background: #35c9ea;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 3px ;
}


.education-content-text > div:first-child{
  font-weight: 700;
  margin: 10px 0;
  color: #333;
}

.education-content-text > div:last-child{
  margin-bottom: 10px;
  color: #555;
}

.education{
  text-align: left;
}

.education-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.education > div:first-child{
  margin-left: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

.education-content-text{
  width: 436px;
}

.education-content span{
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: block;
  background : black ;
  margin-right: 30px;
  position: relative;
  top: -38px;
}

.about-me{
  text-align: left;
   margin-top: 40px;
}

.about-me > div:first-child{
  margin-left: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
}

.about-me > div:last-child{
  margin-left: 40px;
  color: #333;
}

.hobies{
  margin-top: 40px;
}

.hobies >  div:first-child{
  margin-left: 40px;
  font-size: 24px;
  letter-spacing: 2px;
  font-weight: 600;
  color: #333;
  margin-bottom: 12px;
  margin-top: 20px;
}

.hobies > div:last-child{
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.hobies-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100px;
    height: 70px;
    margin-top: 20px;
}

.hobies-wrapper div:last-child{
  font-weight: 600;
}

.hobies-wrapper i{
    font-size: 35px;
    color: #333;
}

.user-port{
  width: 100%;
  max-width: 990px;
  margin : 125px auto 150px auto;
  display: flex;
      justify-content: center;
    flex-direction: column;
    align-items: center;
}

.port{
  margin-left: 40px;
  font-size: 48px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #333;
  margin-bottom: 12px;
  margin-top: 20px;
}

.port-wrapper{
    flex-wrap: wrap;
    margin: 1% auto;
    max-width: 990px;
    width: 100%;
    margin-top: 70px;
    display: flex;
    cursor: pointer;
}

.port-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0);
  transition: all .3s ease;
}

.port-content:hover .port-overlay{
  background: rgba(0,0,0,.2);
  transition: all .3s ease;
}

.port-wrapper .port-content{
    width: 30%;
    height: 425px;
    margin: 16px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0,0,0,.5);
}

.port-wrapper .port-content:nth-child(1){
  background-image: url('../img/user/akbar-project1.jpg');
}
.port-wrapper .port-content:nth-child(2){
  background-image: url('../img/user/akbar-project2.jpg');
}
.port-wrapper .port-content:nth-child(3){
  background-image: url('../img/user/akbar-project3.jpg');
    
}

.port-clicked{
  background: rgba(0,0,0,.8);
  position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: 0;
  opacity: 0;
  display: none;
  transition: all .3s ease;
}

.portgg{
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
  top: -30px;
  transition: all .3s ease;
}

.portactive{
    overflow-x: hidden;
    overflow-y: auto;
     z-index: 999;
    opacity: 1;
    display: block;
    transition: all .3s ease;
}

.bodyhidden{
  overflow: hidden;
}

.port-active {
  display: flex !important;
  top: 0px !important;;
  transition: all .3s ease;
}

.plegged-content{
  width: 328px;
  border : 1px solid rgb(224, 228, 251);
  margin : 0 auto;
  border-radius: 3px;
  background: #f8f9fd;
  cursor: pointer;
  position: relative;
  margin-bottom: 20px;
}

.plegged-text{
  padding : 30px;
}

.pledged-value{
  font-weight: 600;
  color: #05a4c7;
  font-size: 18px;

}

.pledged-title{
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
}

.pledged-desc{
  font-size: 14px;
}

.pleged-backer{
  font-weight: 700;
  font-size: 12px;
  margin-top: 15px;
  color: #666;
}

.pleged-shipment{
  font-weight: 700;
  font-size: 12px;
  color: #666;
}

.pleged-esti{
  font-size: 11px;
  color: #666;
  margin-top: 10px;
}

.pleged-date{
  font-size: 15px;
}

.get-this-reward{
  width: 100%;
  height: 45px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(220,220,220,1);
  bottom: 0;
  left: 0;
  transition: all .3s ease;
}

.plegged-content:hover .get-this-reward{
  background: #35c9ea;
  transition: all .3s ease;
}

.video-wrap{
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.c-net > div{
  cursor: pointer;
}

.video-active{
  display: block;
}

.video-activee{
  display: flex !important;
}

.video-black{
  position: absolute;
   background: rgba(0,0,0,.9);
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
}

.video-wrap > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
   display: none;
}

.video-wrap iframe{
  width: 760px;
  height: 415px;
  position: relative;
  z-index: 3;
}

.question-wrapper{
  width: 1102px;
    margin: 0 auto;
    padding-top: 133px;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    flex-direction: row;
    padding-bottom: 150px;
}

.question{
  min-height: 1px;
  margin-left: 30px;
  width: 602px;
}

.question-related{
  width: 314px;
  min-height: 1px;
  margin-left: 30px;
  margin-left: 86px;
  font-size: 13px;
}

.question-tags{
  display: flex;
  flex-direction: row;
}

.question-tags div{
    margin-right: 8px;
    margin-bottom: 8px;
    position: relative;
    font-size: 13px;
    padding: 12px 10px;
    background: rgba(234,234,245,1);
    font-weight: 500;
    line-height: 1.2em;
    border-radius: 4px;
    cursor: pointer;
    transition : all .2s ease;
}

.question-tags div:hover{
  background: rgba(214,214,225,1);
  transition : all .2s ease;
}

.title-quest{
  font-size: 24px;
  color: #333;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 5px;
}

.thequest{
  color : #333;

}

.answer-quest-gg{
  -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      transition: all .3s ease;
      border-radius: 3px;
      box-shadow: 0 1px 1px 0 rgba(200,200,200,0.2);
      display: inline-block;
      font-weight: 500;
      outline: 0;
      padding: 3px 7px 4px 7px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      background: #f1f8fb;
      color: #2b6dad;
      border: 1px solid #bbcadc;

  margin-top: 18px;
  font-size: 13px;
  text-shadow: transparent 0px 0px 0px, rgba(0,0,0,0.68) 0px 0px 0px !important;
}

.main-quest{
  margin-bottom: 18px;
}

.total-answer{
  color: #333;
  font-weight: 700;
  position: relative;
  padding-bottom: 8px;
  font-size: 18px;
  padding-bottom: 7px;
}

.answer{
   border-top: 1px solid #e2e2e2;
   margin-bottom: 25px;
}

.answer-quest{
    padding: 16px 0;
   
    position: relative;
}

.user-wrapper{
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.quest-pp{
  width: 40px;
  height: 40px;
  margin-right: 7px;
}

.quest-pp img{
  width: 100%;
  height: 100%;
      background-color: red;
    border-radius: 50%;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.quest-user-desc > div:first-child{
  font-size: 15px;
}

.quest-user-desc > div:last-child{
  font-size: 13px;
   color: rgba(145,145,150,1)
}


.quest-user-desc  span{
  font-weight: 700;
}

.quest-date{
  font-size: 14px;
  color: rgba(145,145,150,1);
  font-weight: 600;
}

.upvote-status{
  margin-top : 10px;
}

.upvote-points{
  display: flex;
  flex-direction: row;
   color: rgba(145,145,150,1);
     font-size: 13px;
     font-weight: 600;
}

.upvote-points > div{
  margin-right: 7px;
  margin-bottom: 7px;
}

.upvote-arrow {
  margin-top: 2px;
  display: flex;
  flex-direction: row;
}

.upvote-arrow > div{
  margin-right: 7px;
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 44px;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.upvote-arrow  div:hover i{
  color: rgba(130,130,140,1);
  transition: all .2s ease;
}

.upvote-arrow i {
  color: rgba(170,170,180,1);
  font-size : 20px;
   transition: all .2s ease;
}

.question-related > div:first-child{
    color: #333;
    font-weight: 400;
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 16px;
    padding-bottom: 8px;
    font-size: 18px;
    letter-spacing: 0;
    text-transform: none;
}

.question-related span{
  color: #429eb3;
  font-size: 14px;
  font-weight: 600;
}

.related-q > div{
  margin-bottom: 16px;
  margin-top: 8px;
  color: 
}

.page-article-wrapper{
  width: 700px;
  margin: 0 auto;
  margin-top: 200px;
}

.pp-article{
  width: 60px !important;
  height: 60px !important;
  margin-right: 15px;
}

.desc-article > div:first-child{
  font-size: 16px !important;
  font-weight: 600;
}

.desc-article > div:nth-child(2){
  font-size: 13px;
  color: rgba(130,130,135,1)
}

.article-content-title{
    font-size: 36px;
    line-height: 41.6px;
    letter-spacing: -1px;
    font-weight: 700;
}

.artilce-text-p p{
  font-size: 18px;
  line-height: 33px;
  margin-top: 10px;
}

h2 {
    margin-bottom: 0px;
    margin-top: 26px;
}

.dialog-class{
  overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dialog{
  margin : 0 auto;
  width: 600px;
  height: 500px;
  background: #ebebf5;
  position: relative;
  z-index: 999999;
  border-radius: 5px;
}

.dialog-share{
  display: flex;
  justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    font-weight: 300;
    width: 100%;
    height: 70px;
    background: #31bbda;
    border-radius: 5px 5px 0 0;
}

.dialog-text{
  display: flex;
    align-items: center;
    flex-direction: column;
}

.dialog-text > input{
  margin-top: 10px;
}

.dialog-text > textarea {
  margin-top: 10px;
}

.dialog-text > textarea {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  border-width: 0;
  font-size: 17px;
  padding: 20px;
  font-weight: 300;
  color: #333;
  height: 225px;

}

.dialog-options > div:first-child{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #31bbda;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 2px 3px 2px rgba(0,0,0,.2);

}

.dialog-options > div:last-child{
  width: 80px;
  height: 40px;
  background: #31bbda;
  font-size: 15px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: pointer;
  transition: all .3s ease;
  box-shadow: 2px 3px 2px rgba(0,0,0,.2);

}

.dialog-options{
  width: 550px;
  margin : 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}

.dialog-options div:hover{
  background: #2dabc7;
  transition: all .3s ease;
}

.dialog-none{
  display: none;
}